In [1]:
!pip install lightgbm

Collecting lightgbm
  Downloading lightgbm-4.5.0-py3-none-win_amd64.whl.metadata (17 kB)
Requirement already satisfied: numpy>=1.17.0 in c:\anaconda3\envs\dineshml\lib\site-packages (from lightgbm) (1.26.4)
Requirement already satisfied: scipy in c:\anaconda3\envs\dineshml\lib\site-packages (from lightgbm) (1.15.1)
Downloading lightgbm-4.5.0-py3-none-win_amd64.whl (1.4 MB)
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ------- -------------------------------- 0.3/1.4 MB ? eta -:--:--
   ------- -------------------------------- 0.3/1.4 MB ? eta -:--:--
   -------------- ------------------------- 0.5/1.4 MB 558.9 kB/s eta 0:00:02
   -------------- ------------------------- 0.5/1.4 MB 558.9 kB/s eta 0:00:02
   --------------------- ------------------ 0.8/1.4 MB 644.9 kB/s eta 0:00:02
   --------------------- ------------------ 0.8/1.4 MB 644.9 kB/s eta 0:00:02
   ----------------------------- ---------- 1.0/1.4 MB 679.7 kB/s eta 0:00:01
   ------------------------------------ --- 1.3/1.4 MB 691.7 kB/s eta 0:00:01
   ------------------------------------ --- 1.3/1.4 MB 691.7 kB/s eta 0:00:01
   ---------------------------------------- 1.4/1.4 MB 675.5 kB/s eta 0:00:00
Installing collected packages: lightgbm
Successfully installed lightgbm-4.5.0

In [2]:
import pandas as pd

In [3]:
import lightgbm as lg

In [4]:
ds=pd.read_csv("ins.csv")

In [5]:
ds

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [6]:
ds=pd.get_dummies(ds,drop_first=True)
ds

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [7]:
ds.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [8]:
ind=ds[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [9]:
dep=ds[['charges']]

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(ind, dep, test_size=0.30, random_state=0 )

In [ ]:
from sklearn.metrics import mean_squared_error as mse
from lightgbm import LGBMRegressor
regressor=LGBMRegressor()
#fit is an train dataset mod
regressor.fit(x_train,y_train)